<div class="form-group w-100 d-flex flex-column align-items-center ">

  <h2 class="p-3 fw-bold fs-1">New Student</h2>
  <%= form_with model: student, url: add_student_path, method: :post do |f|%>

  <div class="form-heading d-flex gap-2">
    <div class="form-left">
      <div class="form-group mb-3 d-flex flex-column form-floating">
        <%= f.text_field :first_name, class:"form-control", id:"floatingInput" %>
        <%= f.label :first_name, for:"floatingInput" %> 
      </div>
    
      <div class="form-group mb-3 d-flex flex-column form-floating">
        <%= f.text_field :middle_name , class:"form-control", id:"floatingInput"%>
        <%= f.label :middle_name, for:"floatingInput" %>
      </div>
    
      <div class="form-group mb-3 d-flex flex-column form-floating">
        <%= f.text_field :last_name, class:"form-control", id:"floatingInput" %>
        <%= f.label :last_name, for:"floatingInput" %> 
      </div>

    </div>

    <div class="form-right relative ">
      <%= image_tag('passport.png', class:' passport ') %>
       <%= f.file_field :passport, class: ' file-field text-center' %>
    </div>

  </div>

  <div class="form-group mb-3 d-flex flex-column form-floating">
    <%= f.date_field :dob, class:"form-control", id:"floatingInput" %>
    <%= f.label :Date_Of_Birth, for:"floatingInput" %> 
  </div>

  <div class="form-group mb-3 d-flex flex-column form-floating">
    <%= f.select('gender', [['Male', 'M'], ['Female', 'F'], ['Others', 'O']], {},  class:"form-control", id:"floatingInput")%>
    <%= f.label :Gender , for:"floatingInput"%> 
  </div>

  <div class="form-group mb-3 d-flex flex-column form-floating">
    <%= f.text_field :address , class:"form-control", id:"floatingInput"%>
    <%= f.label :address, for:"floatingInput" %> 
  </div>
  
  <div class="form-group mb-3 d-flex flex-column form-floating">
    <%= f.number_field :phone_number , class:"form-control", id:"floatingInput"%>
    <%= f.label :phone_number, for:"floatingInput" %>
  </div>

  <div class="form-group mb-3 d-flex flex-column form-floating">
    <%= f.text_field :guardian_name , class:"form-control", id:"floatingInput"%>
    <%= f.label :Guardian_Name, for:"floatingInput" %> 
  </div>



  <div class="form-group mb-3 d-flex flex-column form-floating">
    <%= f.number_field :guardian_contact , class:"form-control", id:"floatingInput"%>
    <%= f.label :guardian_contact, for:"floatingInput" %>
  </div>

  <div class="form-group mb-3 d-flex flex-column form-floating">
    <%= f.text_field :email, class:"form-control", id:"floatingInput" %>
    <%= f.label :Email, for:"floatingInput" %> 
  </div>

  <div class="form-group mb-3 d-flex flex-column form-floating">
    <%= f.password_field :password , class:"form-control", id:"floatingInput"%>
    <%= f.label :password, for:"floatingInput" %> 
  </div>

  <div class="mb-3 form-floating">
    <%= f.text_field :index_number , class:"form-control", id:"floatingInput", placeholde:"name@example.com"%>
    <%= f.label :index_number, for:"floatingInput" %>
  </div>

  <div class="form-group mb-3 d-flex flex-column form-floating">
    <%= f.date_field :enroll_year, class:"form-control", id:"floatingInput" %>
    <%= f.label :enroll_year, for:"floatingInput"  %> 
  </div>

  <div class="form-group mb-3 d-flex flex-column form-floating">
    <%= f.select('department_id', @departments, {}, class:"form-control", id:"floatingInput")%>
    <%= f.label :Department , for:"floatingInput" %> 
  </div>

  <div class="form-group mb-3 d-flex flex-column align-items-center">
    <%= f.submit "Submit", disable_with: 'Submiting...', class: 'btn btn-outline-success w-100 p-2' %>
  </div>
  <% end %>
</div>
