<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <%= link_to 'Nacom', root_path, class: "navbar-brand" %> <% if current_admin
    %>
    <a class="navbar-brand" href="#"
      ><%= current_admin.email.split('@')[0].capitalize %></a
    >

    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <div class="left-nav">
        <% if current_admin %>
         <%= link_to 'Send Message', new_message_path, class:'btn btn-outline-primary' %> 
         <%= link_to 'Make An Announcement', new_announcement_path, class:'btn btn-outline-primary' %> 
         <%= link_to 'SignOut', destroy_admin_session_path, method: :delete, class: 'btn btn-outline-danger' %> 
         <% else %> 
         <%= link_to 'SignIn', new_admin_session_path, class: 'btn btn-outline-success' %>
          <% end %>
      </div>
    </div>
  </div>
</nav>
